/*utilities*/
:root{
    --bg-dark: #a8a8a8;
    --bg-card: #E5E5E5;
    --montserrat: 'Montserrat', sans-serif;
    --homemade: 'Homemade Apple', cursive;
    --text-color: #4E5150;
    --text-color-gray: #a9a9a9;
    --border-radius-avatar: 40px;
    --border-radius-post: 15px;
    --correct-margin: 3%;
}
.p-1{padding: 1%;}
.p-2{padding: 2%;}
.p-3{padding: 3%;}
.mt-3{margin-top: var(--correct-margin);}
.mb-3{margin-bottom: var(--correct-margin);}
/**/
html{height: 100%;margin: 0;}
body{
    height: 100vh;
    margin: 0;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header--img{
    min-width: 100px;
    min-height: 100px;
    width: 30vw;
    height: auto;
}
.header--img--radius{border-radius: var(--border-radius-avatar);}
.header--name{font-family: var(--montserrat);font-style: normal;font-weight: 600;font-size: 1.3em;line-height: 17px;}
.header--location{
    font-family: var(--montserrat);
    font-style: normal;
    font-weight: 600;
    font-size: 0.8em;
    line-height: 12px;
    color: var(--text-color-gray);
    margin-top: 0;
}
.header--group{display: grid;grid-template-columns: repeat(3, 1fr);gap: 1rem;}
.header--group--item{
    display: flex;
    flex-direction: column;
    background-color: var(--bg-card);
    border-radius: 16px;
    align-items: center;
    font-family: var(--montserrat);
    font-style: normal;
    font-weight: 600;
    font-size: 0.8rem;
    line-height: 15px;
    text-align: center;
    padding: 10px;
}
/**/
.posts{display: grid;gap: 0.6em;grid-template-columns: repeat(3, 1fr);}
.posts--item{display: flex;justify-content: center;}
.posts--item--small{grid-column-end: span 1;}
.posts--item--tall{grid-row-end: span 2;}
.posts--item--wide{grid-column-end: span 2;}
.posts--item--img{width: 100%;height: 100%;}
.posts--item--img--radius{border-radius: var(--border-radius-post);}
.posts--item--img--shadow{box-shadow: 0 2px 10px var(--bg-dark);}
/**/
footer{
    display: flex;
    justify-content: center;
    font-family: var(--montserrat);
    font-style: normal;
    font-weight: 600;
    font-size: .8em;
    color: var(--text-color-gray);
    line-height: 17px;
}
@media screen and (min-width:600px){
    .p-3{
        padding: 3% 15vw;
    }
    .header--img{
        width: 15vw;
        margin-top: 0;
    }
}
